@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../fonts/HelveticaNeueCyr-Medium.eot');
	src: local('../fonts/HelveticaNeueCyr-Medium'),
		url('../fonts/HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/HelveticaNeueCyr-Medium.woff') format('woff'),
		url('../fonts/HelveticaNeueCyr-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Medium.eot');
    src: local('Gilroy Medium'), local('../fonts/Gilroy-Medium'),
        url('../fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Medium.woff') format('woff'),
        url('../fonts/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

body {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    scrollbar-color: rgba(73, 73, 192, 1) #dfdfdf;     /* «цвет ползунка» «цвет полосы скроллбара» */
    scrollbar-width:  thin;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}


::-webkit-scrollbar { 
    width: 6px;
    background-color: #dfdfdf;
  }

  ::-webkit-scrollbar-button { 
display: none;
}


  ::-webkit-scrollbar-thumb { 
    height: 30%;    
    background-color: rgba(73, 73, 192, 1);
  }



  

.btn {
    font-family: 'Gilroy';
    font-weight: bold;
    font-size: 12px;
    position: relative;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out; 
}

.btn:hover {
 
    transform: translate3d(0, 3px, 0)
}



.navbar ._first svg{    
    max-width: 170px;
    height:65px;
    position: relative;
    padding: 20;
    margin: 0;
    fill: white;    
}

.navbar ._second svg {    
    max-width: 90px;
    height: 50px;
    padding: 0;
    margin: 0;
    fill: white;
}


#top-menu a {
    font-size: 14px;
    color: #202f4d;
    font-weight:500;
    text-transform: uppercase;
    font-family: 'HelveticaNeueCyr',sans-serif;
    font-weight: 500;
}

#top-menu a:hover {
color: #0082ed;
}

#top-menu {
    height:80px;
}


#bottom_menu {
    background-color: rgba(73, 73, 192, 1);
    color: #ffffff;
    width: 100%;   
}



#bottom_menu .nav-link {
    color: #ffffff;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.navbar a{
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: 0.4s linear;
    -webkit-text-decoration-color: transparent;
    -moz-text-decoration-color: transparent;
   }
   
   .navbar a:hover{
    text-decoration-color: inherit;
    -webkit-text-decoration-color: inherit;
    -moz-text-decoration-color: inherit;
   }


.dropdown-menu {
    z-index: 1000;
    border-radius: 0;
    border: 1px solid whitesmoke;
    position: relative;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
-moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.features a {
color: #202f4d;
font-family: 'HelveticaNeueCyr',sans-serif;
    font-weight: 500;
}

.dropdown-item {
    padding: 10px 10px; 
}

.btn, .form-control {
    border-radius: 0;
    
}

.form-control {
    font-family: Roboto, sans-serif;
    font-weight: 600;
}

.form-check-label {
    font-family: Roboto, sans-serif;
    font-weight: 600;
}



.dropdown ul li a {
    color:black;
    text-decoration: none;
}


 .fixed  {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: width 1s ease;   
    z-index: 100;
} 




#top-menu .btn {
   color: #0082ed;
   border: 1px solid #0082ed;
   background-color: white;
   border-radius: 0;
   white-space: nowrap;
   
    font-family: 'Gilroy', sans-serif;
}

#bottom_menu .btn {
    
    font-family: 'Gilroy', sans-serif; 
}

.support svg {
    background-color: #f5fbff;
    width: 33px;
    height: 33px;
    padding: 10px;
    transition: border-radius 0.4s ease;
}

.support svg:hover {
    border-radius: 50%;
    transition: border-radius 0.4s ease;
}

#pricing {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 51px;
    /* identical to box height, or 367% */
    
    text-transform: uppercase;
    
    color: #FFFFFF; 
}


.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    color: rgba(73, 73, 192, 1);
}

.custom-toggler.navbar-toggler:active, .custom-toggler.navbar-toggler:hover {
    border:1px solid white;
    box-shadow: white;
    fill:white;
    color: white;
    outline: none;
    background-color: rgba(73, 73, 192, 1);
}
.navbar-toggler:focus,.navbar-toggler:active:focus,.navbar-toggler.active:focus,
.navbar-toggler.focus,.navbar-toggler:active.focus,.navbar-toggler.active.focus {
    outline: none;
}




.discovery {
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.023313549052433435) 16%, rgba(122, 29, 253, 0.18017629415047265) 50%, rgba(111, 69, 252, 0.44348161627932425) 100%);
    width: 100%;   
    padding-bottom: 2vh;
    padding-top: 10vh;
    z-index: 1;
}

.video-placeholder {
    position: relative;
    overflow: hidden;
    background-color: rgb(57, 57, 57, 1);
    margin-top: 56px;
}

.video-placeholder:nth-child(2) {
    background-color: blue;
}

.video-placeholder:before {
    content: "";
    display: block;
    padding-top: 56.25%;
}

.video-placeholder iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.tabber {
    width: 50%;
    border: 1px solid #4949C0;
    text-align: center;
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    padding-top: 7px;
    padding-bottom: 9px;
    vertical-align: middle;
    cursor: pointer;
    color: #4949C0;
    transition: 0.2s ease;
}

.tabber:hover {
    transform: translate3d(0, 3px, 0);
}

.tabber__active {
    background-color: #4949C0;
    color: #ffffff;
}

.discovery-header {
    font-family: Helvetica Neue, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 3rem;
    line-height: 120%;
    display: flex;
    align-items: center;
    padding-bottom: 50px;
}

.descr {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    /* or 166% */
    text-align: justify;
    color: #202F4D;
    padding-bottom: 40px;
    max-width: 478px;
}

.d-grid {
    padding-top: 50px;
}

.d-grid .btn {
    width: 49.2%;
}

.discovery .col-md-5 .btn {
    text-transform: uppercase;
    border: 1px solid #4949C0;
    color: #4949C0;
    width: 40%;
font-style: normal;

font-size: 12px;
line-height: 20px;
/* identical to box height, or 167% */
white-space: nowrap;
text-transform: uppercase;
    font-family: 'Gilroy', sans-serif;

}

.discovery .btn:nth-child(odd) {
    background-color: #4949C0;
    color: #ffffff;
   
    font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 20px;
    font-family: 'Gilroy', sans-serif;
/* identical to box height, or 167% */

text-transform: uppercase;
}

#outline {
    border: 1px solid #4949C0 ;
    font-family: 'Gilroy', sans-serif;
    color: #4949C0;
}

.datasheet {
    text-transform: uppercase;
    color: rgb(0, 87, 255, 1);
    cursor: pointer;
}

.discovery .row:last-child {
    margin-top: 15vh;
}

.hr {
    margin-top: 4px;
    padding-top: 2px;
    width: 250px;
    opacity: 1;
    align-self: center;
    color: #0d6efd;
}

.pdf svg {
    width: 30px;
    height: 30px;
    border: 2px solid rgb(0, 87, 255, 1);
    padding: 1px;
    border-radius: 10%;
}

.environments {
    width: 100%;
    padding-bottom: 10vh;
}

.environments h2 {
    font-family: 'HelveticaNeueCyr';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 120%;
    /* or 58px */
    width: 50%;
    color: #202F4D;
    text-align: center;
    padding-bottom: 20px;
}

.environments span {
    color: rgba(73, 73, 192, 1);
}


.true svg:nth-child(odd) {
       max-width: 100px;
       height: 80px;
       margin-left: 3vw;
       margin-right: 4vw;
}

.true svg:nth-child(even) {
    fill: rgba(73, 73, 192, 1);
    height: 40px;
   
    max-width: 400px;
} 


.true {
    padding-top:5vh;
    padding-bottom: 1vh;
}

.arrow-icon {
    width: 100%;
}


.custom-card {
    margin-top: -80px;
    padding-top: 35px;
    padding-left: 36px;
    padding-right: 36px;
    padding-bottom: 45px;
    line-height: 27px;
    /* border-radius: 191,193,200,0,98; */
    border: 1px solid greenyellow;
    box-shadow: 0px 9px 16px 0px rgba(14, 37, 83, 0.07);
    position: relative;
}

.card-title {
    font-family: Helvetica Neue, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #202F4D;
}

.dialog {
    position: relative;
    margin-top: -50px;
    padding-top: 35px;
    padding-left: 36px;
    padding-right: 36px;
    padding-bottom: 45px;
    border: 1px solid lightgray;
    line-height: 27px;
    box-shadow: 0px 9px 16px 0px rgba(14, 37, 83, 0.07);
   max-height:303px;  
}

.top-bot {
    position: absolute;
    top: -20px;
    right: 50;
    transform: translate(-50%, 0);
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent lightgray transparent;
}

.top-bot-border {
    top: -18px;
    border-color: transparent transparent #fff transparent;
}

.list-left span {
    color: rgba(255, 61, 0, 1);
}

.list-right span {
    color: rgba(0, 185, 18, 1);
    ;
}

.dialog-left {
    border-left: 2px solid rgba(255, 61, 0, 1);
}

.dialog-right {
    border-left: 2px solid rgba(0, 185, 18, 1);
}

.btn-left {
    background-color: rgba(255, 61, 0, 1);
    width: 25%;
    color: #ffffff;
}

.btn-right {
    background-color: rgba(0, 185, 18, 1);
    width: 25%;
    color: #ffffff;
}

.integrations {
    width: 100%;
    background: linear-gradient(180deg, #F9F9F9 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #D3D5DA -5.25%, rgba(242, 242, 242, 0.38) -5.24%, #F2F2F2 100%);
    background: url(../images/NewIcons/Pattern-Randomized.svg) center/cover no-repeat;
    background-attachment: fixed ;
	background-position: top center;
    
}

.mid {
    padding-top: 10vh;
    padding-bottom: 10vh;
    width: 100%;
	margin: 0 auto;
	background-color: rgba(255, 255, 255, 0.726);
    height: 100%;
    box-sizing: border-box;
}

.integrations-title  {
font-family: Helvetica Neue, sans-serif;
font-style: normal;
font-weight: 500;
font-size: 48px;
line-height: 140%;
color: #343457;
}

.integrations-descr {
font-family: Roboto, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 26px;
color: #343457;
}

.integrations svg{
   border: 2px solid lightgray;
    width: 174px;
    max-height: 136px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}

.code {
    
    width: 100%;
    
}

.code__title {
font-family: Helvetica Neue, sans-serif;
font-style: normal;
font-weight: 500;
font-size: 48px;
line-height: 120%;
/* identical to box height, or 58px */

display: flex;
align-items: center;
text-align: center;

/* text color */

color: #202F4D;
}

.code__title span {
    color: rgba(73, 73, 192, 1);
    text-transform: uppercase;
}

.title__descr {
    font-family: Roboto, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 200%;
/* or 36px */

text-align: center;

color: #202F4D;

}

.code .card {
padding-left:70px;
padding-top:17px;
padding-right:70px;
padding-bottom: 44px;
border-left: 2px solid #202F4D;
font-family: Helvetica Neue,sans-serif;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 27px;
border-radius: 0;
box-shadow: 0px 9px 16px rgba(14, 37, 83, 0.07);
cursor: pointer;
color: #202F4D;
}

.tabheader__item_active {
    border-left: 2px solid rgba(73, 73, 192, 1);
    z-index: 10;
}



.code__sheet {
   width: 100%;
   height: 100%;
    max-height: 429px;
    min-height: 300px;
    min-width: 100%;
    max-width: 613px;
    background-color: rgba(52, 52, 58, 1);
    position: relative;
}

.copylink {
    width: 100%;
    height: 100%;
   max-width: 30px;
    max-height: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.copylink svg {
    width: 100%;
    height: 100%;
   max-width: 27px;
    max-height: 27px; 
}

.code_text {
font-family: 'Cutive Mono', monospace, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 27px;
/* or 112% */
padding-top:44px; 
padding-left:12px;
overflow: hidden;
z-index: 999;
color: #FFFFFF;
display: flex;
overflow-wrap: break-word;
white-space: pre-line;
}



.code__sheet a:hover {
    cursor: pointer;
}

.footer-label {
    margin-top: 9vh;
    padding-bottom: 8vh;
    padding-top: 9vh;
    background: rgba(73, 73, 192, 1);
}

.footer__descr {
    font-family: Roboto, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 27px;
color: #FFFFFF;
}


.btn svg {
    width: 16px;
    height: 16px;
    margin-left: 3px;
    fill: #4949C0;
}

.footer__title {
font-family: Helvetica Neue, sans-serif;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 140%;
color: #FFFFFF;
width: 70%;
}

.footer__nav {
    box-shadow: 0px 4px 4px rgba(7, 7, 7, 0.02);
}

.footer-label .btn:first-child {
    color:rgba(41, 41, 140, 1);  
    max-width: 175px;
}

.footer__nav .btn:nth-child(odd) {
color:rgba(41, 41, 140, 1);
background-color: #ffffff;
border:1.5px solid rgba(41, 41, 140, 1);
width: 30%;
}

#request {
    white-space: nowrap;
    min-width: 170px;
}

.footer {
   background-color:#F5F8FA;
   width: 100%;
}

     .main .brand svg {
        max-width: 190px;

        height: 80px;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        fill: white;
    }



    .policy .footer__icon-1 svg {
    height: 14px;
    }


    .follow__icons svg {
    fill: white !important;
    width: 15px;
    height: 15px;
    background-color: #0057FF;
    }

.follow {
    font-family: Helvetica Neue, sans-serif;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 27px;
/* identical to box height, or 193% */
white-space: wrap;
color: #202F4D;

}

.follow__icons li {
margin-left:1vw;
border-radius: 100%;
background-color: #0057FF;
padding: 10px;
}

.custom-list svg {
    width: 100%;
    height: 100%;
    max-width: 70px;
    padding-left: 0.5vw;
    max-height: 50px;
    position: relative;
    left:0;
    top:0;
    transform: translate(-13%,0);  
}

.custom-list a {
font-family: Roboto,sans-serif;
text-decoration: underline;
text-decoration-color: transparent;
transition: 0.4s linear;
-webkit-text-decoration-color: transparent;
-moz-text-decoration-color: transparent;
font-size: 14px;
line-height: 19px;


/* identical to box height, or 159% */
color: #202F4D;
text-align: justify;
}

.custom-list a:hover {
color: #0057FF;
text-decoration-color: inherit;
-webkit-text-decoration-color: inherit;
-moz-text-decoration-color: inherit;

}

.custom-list span {
font-family: Roboto, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;
white-space: nowrap;
/* identical to box height, or 136% */
color: #0057FF;
}

.custom-list h4 {
cursor: default;
font-family: Helvetica Neue, sans-serif;
/* text-decoration:underline #0057FF; */
border-bottom: 2px solid #0057FF;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 27px;
/* identical to box height, or 150% */
color: #202F4D;
}

.middle .custom-list li {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 27px;
    color: #202F4D;
    text-align: justify;
    white-space: nowrap;
}

.form__header h4 {
    font-family: Helvetica Neue, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    /* identical to box height, or 150% */
    /* text color */
    color: #202F4D;
}

.form__descr p {
    font-family: Helvetica Neue, sans-serif;
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 14px;
/* or 140% */
/* text color */
color: #202F4D;
}



.policy {
font-family: Helvetica Neue, sans-serif;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 27px;
/* identical to box height, or 190% */
/* text-grey-footer */
color: #202F4D;
white-space: normal;
cursor: default;
}

.policy a {
    color: #202F4D;
    font-weight: 600;
}


.policy a{
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: 0.4s linear;
   
    /*add those for opera and mozilla support*/
    -webkit-text-decoration-color: transparent;
    -moz-text-decoration-color: transparent;
   }
   
   .policy a:hover{
    text-decoration-color: inherit;
    
    /*add those for opera and mozilla support*/
    -webkit-text-decoration-color: inherit;
    -moz-text-decoration-color: inherit;
   }





.show{
    display:block
}
.hide{
    display:none
}
.fade{
    animation-name: fade;animation-duration: 1.5s;
}
@keyframes fade{from{opacity: 0.1;}to{opacity: 1;}
}


.dropdown-toggle-ellipsis::after {
    display: none;
  }
  
  .dropdown-toggle-ellipsis::before {
    display: inline-block;
    padding: 0.5rem;
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f142";
  }

/* MEDIA */

@media screen and (min-width: 1200px) {
    #bottom_menu .container {
        height: auto;
        }
    }

@media screen and (max-width: 1200px) {
.true svg:nth-child(even) {
    fill: rgba(73, 73, 192, 1);
    height: 40px;   
    max-width: 220px;
} 

}

@media all and (min-width: 992px) {
	.navbar .dropdown-menu-end{ right:0; left: auto;  }
	.navbar .nav-item .dropdown-menu{  display:block; opacity: 0;  visibility: hidden; transition:.3s; margin-top:0;  }
	.navbar .nav-item:hover .nav-link{ color: #fff;  }
	.navbar .dropdown-menu.fade-down{ top:80%; transform: rotateX(-75deg); transform-origin: 0% 0%; }
	.navbar .dropdown-menu.fade-up{ top:180%;  }
    .dropdown-hover:hover .dropdown-toggle::after {
        border-bottom: 0.3em solid;
        border-top: 0;
        transition: border-bottom 0.5 ease-in-out;}
      .dropdown-toggle::after {
          transition:0.3s ease;
      }
	.navbar .nav-item:hover .dropdown-menu{ transition: .5s; opacity:1; visibility:visible; top:100%; transform: rotateX(0deg); }
    #bottom_menu .container {
        height: 90px;
        }

}

@media screen and (max-width: 992px) {
.code .col-md-5 {
    width: 100%;
    flex-wrap: wrap;
    padding-bottom: 5vh;
}



#top-menu {
    display: none;
}

.footer__nav {
    display: none;
}



.environments h2 {
    font-size: 3rem;
    } 

.discovery .d-grid .btn {
white-space: nowrap;
}



.footer .col-md-6:last-child {
     justify-content: center;
     padding-top: 0;
     margin-top: 0;
    width: 100%;
}


.footer .col-md-6:last-child {
    margin-top: -70px;
}

.code__sheet {
    align-self: center;
}
}


@media screen and (max-width: 768px) {

    .discovery-header {
    font-size: 2rem;
    padding-bottom: 8px;
}

.integrations .col-md-4 {
    flex-direction: column-reverse;
}

.true svg {
    display: none;
}

.discovery .descr {
    font-size: 1rem;
    padding-bottom: 8px;
}

.environments h2 {
    font-size: 2rem;
}

    .card h3 {
    font-size: 1rem;
}

    .code__title {
font-size: 2rem;
    }

    .title__descr {
font-size: 1rem;
    }

    .footer__title {
        font-size: 2rem;
    }

    .footer__descr {
        font-size: 1rem;
    }

    .custom-list {
        padding-left: 10px;
    }

    .custom-list h4 {
        font-size: 1rem;
    }

    
    .middle .custom-list li {
        font-size: 0.8rem;
        line-height: 120%;
    }

.integrations-title {
    font-size: 2rem;
    text-align: center;
    padding-bottom: 0;
    padding-top:0;
}

.integrations-descr {
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 3vh;
    
}
}

@media screen and (max-width: 767px) {

    .dialog {
        height: auto;
        margin-top: 5vh;
    }
    .tabber {
        width: 100%;
    }

    .text {
        text-align: justify;
        width: 50%;
    }

    .list-container {
        width: 50%;
    }
}
    


@media screen and (max-width: 432px) {
    

.footer .custom-list li {
font-size: 10px;
}

.footer .custom-list li span {
    font-size: 10px;
}

.follow__icons svg{
    height: 10px;
    width: 10px;   
}

.follow__icons li {
    border-radius: 50%;
    padding: 6px;
    margin-left: 2vw;
}



    .discovery .btn {
        width: 100%;
        margin-top: 10px;
    }
    
}
@media screen and (max-width: 392px) {
.custom-list h4 {
    font-size: 12px;
}

.custom-list a {
    font-size: 10px;
}

}

@media screen and (max-width: 376px) {

body {
    overflow-x: hidden !important;
}

    .environments h2 {
    font-size: 2rem;
    } 

.middle .custom-list li {
    font-size: 8px;
}



.true {
    display: none !important;
}

.integrations-title {
    font-size: 2rem;
    text-align: center;
    padding-bottom: 10px;
}

.integrations-descr {
padding-bottom: 5vh;
text-align: center;
}


}